<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{:config('queue.WebName')}-约稿公告</title>
    <meta name="keywords" content="书咚约稿，书咚网，书咚写小说，新人写小说，2018新人写小说">
    <meta name="description" content="书咚网约稿公告，诚邀各大作者加入">
    <!--样式重置-->
    <link rel="shortcut icon" href="__STATIC__/images/Favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/rest.css" />
    <!--头部样式-->
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/header.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/login/css/user.css" />
    <!--底部样式-->
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/footer.css" />


    <!-- 同人宅圈 -->
    <link rel="stylesheet" type="text/css"  href="__STATIC__/css/wrap.css" />
    <!--引入jq-->
    <script src="https://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
{include file="public/top"}
<!--导航栏 END-->


<!--container-->
<div class="wraps">
    <p class="nav">
        <a href="/index">首页 </a> &gt;
        <a href="/gao">约稿公告</a>
    </p>
    <!--公告分类-->
    <div class="notice-wrap">
        <p class="notice-title">
            <a href="javascript:;" class="act">约稿公告</a>
            <a href="/welfare">作者福利</a>
        </p>
        <div class="notice-detail">
            <p class="list">书咚是一款泛次元小说互动阅读APP，你想要看的二次元小说、同人文这里都有，各种宅文、腐文满天飞，是腐女宅男的最爱。各种热门二次元人物就在书咚等着你哦。当然啦，玄幻、恋爱、悬疑这里也有。有兴趣的可在手机上搜“书咚”下载、安装即可。</p>
            <div class="ref mat">
                <p class="title fwb">我们的宅文只收脑洞大的~~</p>
                <p class="ref">我们想要的宅文是这样滴：具有热血、无节操、病娇、二次元、暗黑系、脑洞向等类型亦均可。热血都市玄幻无线文、黑暗系克苏鲁风文、脑洞新奇文、耽美甜宠互虐文，是书咚最想要的！总之，脑洞要大！！！</p>
                <p class="ref">那么，柯南大战丧尸你要不要？——要勒！</p>
                <p class="ref">诸葛亮对唱王司徒你要不要哇？——那是必须要得！</p>
                <p class="ref">中二热血的男主你要不要捏？——要！（看我迷妹的小眼睛(๑ŐдŐ)b)</p>
                <p class="ref">我们不限制写作风格，不禁锢想法，请尽情发挥吧！ 最后我们郑重承诺，只要是你精心原创的心血作品，不违反国家相关法律规定，我们举爪都收！收！收！</p>
            </div>
            <div class="ref mat">
                <p class="title fwb">我们的宅文分类是这样滴~~</p>
                <p class="ref"><span class="fwb">01【超现实都市】</span><span>看似平淡的都市中，可能潜藏着—邻家的大姐姐其实是女鬼？如：《深夜书屋》《重生之都市修仙》</span></p>
                <p class="ref"><span class="fwb">02【异界玄幻】</span><span>奇幻的异界，魔法、斗气、法术....你主宰的、幻想的都在这里成为了现实。如：《极道天魔》《武炼巅峰》</span></p>
                <p class="ref"> <span class="fwb">03【无敌爽文】</span><span>一支穿云箭，千万大帝来相见。一爽到底，毫无郁闷，不服就是干！如：《帝尊》《一拳超人》《逆天邪神》</span></p>
                <p class="ref"><span class="fwb">04【幻想修仙】</span><span>我从人间来，到此觅长生。以五百岁为春，以五百岁为秋，天地任我逍遥。如：《凡人修仙传》《从前有座灵剑山》</span></p>
                <p class="ref"><span class="fwb">05【神秘科幻】</span><span>物种的变异，黑科技爆发，末日是毁灭，也是重生。如：《无限恐怖》《吞噬星空》</span></p>
                <p class="ref"><span class="fwb">06【悬疑灵异】</span><span>惊悚诡异的死亡游戏，刺激恐怖的寻宝之旅。未知的迷雾，古老的传说……如：《苗疆蛊事》《冰菓》</span></p>
                <p class="ref"><span class="fwb">07【萌系变身】</span><span>一觉醒来变成了性感夜店女神怎么办？用不同的身份，过属于自己的生活。如：《回到过去变成猫》《花开美利坚》《变身路人女主》</span></p>
                <p class="ref"><span class="fwb">08【轻小说】</span><span>奇异的幻想，不拘一格的行文风格。如：《我的妹妹不可能那么可爱》《刀剑神域》</span></p>
                <p class="ref"><span class="fwb">09【动漫穿越】</span><span>穿越到动漫世界的梦想人生，穿越到了动漫世界怎么办？如：《综漫之金钱万岁》《少女契约之书》</span></p>
                <p class="ref"><span class="fwb">10【游戏世界】</span><span>游戏的世界，真实的人生！如：《网游之修罗传说》《网游之邪龙逆天》</span></p>
                <p class="ref"><span class="fwb">11【战争历史】</span><span>架空历史，萌娘军事。如：《宰执天下》《赘婿》《极品家丁》</span></p>
                <p class="ref" ><span class="fwb">12【搞笑吐槽】</span><span>神经病一般的笑话，天花乱坠的吐槽！如：《疯巫妖的实验日志》《希灵帝国》《史上第一混乱》</span></p>
                <p class="ref"><span class="fwb"> 13【青春日常】</span><span>与众不同的日常生活，青涩纯真的校园日常。如：《秒速五厘米》《我的妹妹不可能那么可爱》</span></p>
                <p class="ref"><span class="fwb">14【耽美绝爱】</span><span>结发为夫夫，恩爱两不疑，性别相同才更好拥抱。如：《读者和主角绝逼是真爱》《识汝不识丁》《必须向七个男人求婚怎么破！》</span></p>
                <p class="ref"><span class="fwb">15【唯美幻想】</span><span>娇痴不怕人猜，和衣睡倒人怀。恰年少芳华，欠君一场花前月下。如：《云中歌》《花千骨》</span></p>
                <p ><span class="fwb">16【同人衍生】</span><span>同一个世界，不同的梦想。如：《火影之最强震遁》《金庸世界的道士》《斗破苍穹之无上之境》</span></p>
            </div>
            <!--建议-->
            <div class="sug mat ">
                <p class="fwb title">PS</p>
                <p class="ref">我们期待广大原创作者尤其是宅文作者朋友们的倾情加入！！！</p>
                <p class="ref">先来介绍一下我们——书咚网成立于2018年1月，隶属于中驰财团，是一家集阅读和创作为一体的原创文学平台。我们坚持中驰财团制定的多元化发展战略，致力于打造一个以泛次元原创小说为主的阅读平台，现大量招募原创作者加入书咚大家庭，携手共创深度爆炸好文。</p>
                <p class="ref">同时，书咚网为作者提供最新的新咚签约模式，定价、上架随你意，版权100%属于作者！除了新咚签约模式，我们还提供升级签约模式，签约等级可升级，C级→B级→A级→S级，等级高福利高，最最最最最最后，保底买断少不了！</p>
                <p class="ref"> （某人鬼精鬼精的转了转眼珠）你确定？！——2018，你不留下些什么吗？</p>
                <p class="ref">某人可是迫不及待了哦！快来，等你哦！</p>
                <p>	网站公测期间，可能还存在着一些Bug，给大家带来不便，敬请谅解。客服QQ：1812768618</p>

            </div>
        </div>
    </div>

</div>



{include file="public/bot"}


<script src="__STATIC__/js/sd-scroll.js" type="text/javascript" charset="utf-8"></script>

<script src="__STATIC__/js/sd-backTop.js" type="text/javascript" charset="utf-8"></script>
<!--返回顶部END-->
<script src="__STATIC__/js/scorll.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/js/sd-search.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/js/sd.js" type="text/javascript" charset="utf-8"></script>





</body>
</html>
