<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{:config('queue.WebName')}-联系我们</title>
    <link rel="shortcut icon" href="__STATIC__/images/Favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/login/css/user.css" />
    <!--样式重置-->
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/rest.css" />
    <!--头部样式-->
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/header.css" />
    <!--中间部分样式-->
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/footer.css" />
    <!--书库样式-->
    <link rel="stylesheet" type="text/css"  href="__STATIC__/css/wrap.css" />
    <!--引入jq-->
    <script src="https://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>

{include file="public/top"}


<div class="wraps">
    <p class="nav">
        <a href="/index">首页 </a> &gt;
        <a href="/contract"> 联系我们</a>
    </p>
    <!--公告分类-->
    <div class="notice-wrap">
        <p class="notice-title">
            <a href="/aboat" > 关于书咚</a>
            <a href="javascript:;" class="act">联系我们</a>
            <a href="/help">问题帮助</a>
        </p>
        <div class="notice-detail">
            <p class="fwb ref" style="font-size: 18px;">感谢您关注书咚文学，并希望与我们取得联系：</p>
            <p class="ref">◆ 功能意见、Bug反馈请联系：客服（QQ：1812768618，或致电：0571-86951068，客服在线时间：周一到周五9:00至17:30）</p>
            <p class="ma40">◆ 商务合作邮箱：business@shuddd.com</p>

            <p class="ref">  杭州书咚网络科技有限公司</p>

            <p class="ref">◆ 公司地址：杭州市西湖区文一西路98号数娱大厦1113室</p>
            <p class="ref">◆ 联系电话：0571-86951068</p>
            <p class="editer"><span>◆ 联系编辑：</span><span>大刀（QQ：3040277546）</span></p>
            <p class="editer"><span></span><span>七七（QQ：1552425641）</span></p>
            <p class="editer"><span></span><span>司辰（QQ：1239053623）</span></p>
            <p class="ref editer"><span></span><span> 书生（QQ：2485660181）</span></p>

            <p class="ref">◆ 书咚作者交流群：378078588</p>
            <p  class="ref">◆ 作者管理后台链接：<a href="http://author.shuddd.com" target="_blank">http://author.shuddd.com</a></p>


            <p>如遇问题可联系：客服电话：0571-86951068（客服在线时间：周一到周五9:00至17:30）</p>
        </div>
    </div>
</div>




{include file="public/bot"}

<script src="__STATIC__/js/sd-scroll.js" type="text/javascript" charset="utf-8"></script>

<script src="__STATIC__/js/sd-backTop.js" type="text/javascript" charset="utf-8"></script>
<!--返回顶部END-->
<script src="__STATIC__/js/scorll.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/js/sd-search.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/js/sd.js" type="text/javascript" charset="utf-8"></script>


<script src="__STATIC__/js/sd-selectcolor.js"></script>

</body>
</html>
