<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{:config('queue.WebName')}-问题帮助</title>
    <link rel="shortcut icon" href="__STATIC__/images/Favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/login/css/user.css" />
    <!--样式重置-->
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/rest.css" />
    <!--头部样式-->
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/header.css" />
    <!--中间部分样式-->
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/footer.css" />
    <!--书库样式-->
    <link rel="stylesheet" type="text/css"  href="__STATIC__/css/wrap.css" />
    <!--引入jq-->
    <script src="https://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>

{include file="public/top"}


<div class="wraps">
    <p class="nav">
        <a href="/index">首页 </a> &gt;
        <a href="/help"> 问题帮助</a>
    </p>
    <!--公告分类-->
    <div class="notice-wrap">
        <p class="notice-title">
            <a href="/aboat" > 关于书咚</a>
            <a href="/contract" >联系我们</a>
            <a href="javascript:;" class="act">问题帮助</a>
        </p>
        <div class="notice-detail">
            <p class="fwb ref" style="font-size: 18px;">感谢您关注书咚文学，如需帮助请联系客服~~</p>
            <p class="fwb">1. 咚币有什么用途？</p>
            <p class="ref">咚币是书咚泛次元小说互动阅读平台专用虚拟币，可以用于订阅自己喜欢的作品，也可以打赏自己喜欢的作品。</p>
            <p class="fwb">2. 人民币与咚币的兑换比例是多少？</p>
            <p class="ref">兑换比例为1:100，即1元人民币可以兑换100咚币。</p>
            <p class="fwb">3. 如何进行充值？</p>
            <p class="ref">登陆账号，“我的首页”找到“充值中心”点击充值即可。</p>
            <p class="fwb">4. 如何查看我的充值记录？</p>
            <p class="ref">登录账号，进入“我的首页”，点击“钱包”，查看充值记录即可，如遇到疑问，可联系客服。</p>
            <p class="fwb">5. 如何成为书咚网Vip用户？</p>
            <p class="ref">登陆账号，在“我的首页”找到“我的Vip”点击购买即可。</p>
            <p class="fwb">6. 如果充值没有及时到账？</p>
            <p class="ref">首先请确保您已经充值成功；如果已经确保充值成功，请在“我的首页”点击“钱包”，看里面是否有咚币；如果没有咚币请联系客服，我们一定会努力解决问题！</p>
            <p class="fwb">7. 自动订阅好用吗，可以取消不？</p>
            <p>设置为自动订阅的用户请放心，不点击VIP章节阅读正文，将不会扣除咚币。</p>
            <p class="ref">自动订阅可以取消。</p>
            <p class="fwb">8. 为什么看书需要花钱？</p>
            <p class="ref">作者以写书作为职业，付出了劳动，需要获得回报。网站会支付给作者稿酬，您订阅的大部分金额都会归作者所有，您每次的订阅都是在支持作者，支持原创。同时，书咚的发展也需要你们的支持，感谢撒花！</p>
            <p class="fwb">9. 我也想发表文章怎么办？</p>
            <p class="ref">搜索书咚网，点击进入网站并注册成为作者，便可以发布文章了；或输入网址：<a href="http://author.shuddd.com">http://author.shuddd.com</a>，进入作者后台，注册作者即可。</p>
            <p class="fwb">10. 在使用过程中，我需要注意什么？</p>
            <p>遵守相关的法律条款，不得将书咚网用于非法目的；</p>
            <p>遵守所有与移动互联网服务有关的网络协议、规定和程序；</p>
            <p class="ref">使用书咚的时候请千万要保护好自己的账户，以免其他用户嫉妒你的绝世美颜，向你丢一个蕾姆。</p>


            <p class="fwb">11. 其他问题</p>
            <p>其他问题可以添加客服QQ：1812768618，由我们客服为您解答。</p>
            <p>如遇问题可联系：客服电话：0571-86951068（客服在线时间：周一到周五9:00至17:30）</p>
        </div>
    </div>
</div>




{include file="public/bot"}

<script src="__STATIC__/js/sd-scroll.js" type="text/javascript" charset="utf-8"></script>

<script src="__STATIC__/js/sd-backTop.js" type="text/javascript" charset="utf-8"></script>
<!--返回顶部END-->
<script src="__STATIC__/js/scorll.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/js/sd-search.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/js/sd.js" type="text/javascript" charset="utf-8"></script>


<script src="__STATIC__/js/sd-selectcolor.js"></script>

</body>
</html>
