<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{:config('queue.WebName')}-关于书咚</title>
    <link rel="shortcut icon" href="__STATIC__/images/Favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/login/css/user.css" />
    <!--样式重置-->
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/rest.css" />
    <!--头部样式-->
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/header.css" />
    <!--中间部分样式-->
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/footer.css" />
    <!--书库样式-->
    <link rel="stylesheet" type="text/css"  href="__STATIC__/css/wrap.css" />
    <!--引入jq-->
    <script src="https://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
{include file="public/top"}

<div class="wraps">
    <p class="nav">
        <a href="/index">首页 </a> &gt;
        <a href="/aboat"> 关于书咚</a>
    </p>
    <!--公告分类-->
    <div class="notice-wrap">
        <p class="notice-title">
            <a href="javascript:;" class="act"> 关于书咚</a>
            <a href="/contract">联系我们</a>
            <a href="/help">问题帮助</a>
        </p>
        <div class="notice-detail">
            <p class="fwb ref" style="font-size: 18px;">书咚文学 • 泛次元小说互动阅读平台</p>

            <p class="ref">书咚网，成立于2018年1月，隶属于中驰财团，是一家集阅读和创作为一体的原创文学平台。现大量招募原创作者加入书咚大家庭，携手共创深度爆炸好文！</p>

            <p  class="ref">杭州书咚网络科技有限公司，是拥有着一支90、95后团队的年轻公司，我们秉行“改变世界从改变自己做起”的理念，一直努力打破传统网络小说界限，打破传统签约模式，打破传统推书状态。我们旨在打造小说自由集市和精品IP，为作者保驾护航！</p>

            <p  class="ref">书咚作为泛次元小说互动阅读平台的引导者，在传统网络文学的签约模式基础上，创新性提出了开放式签约（又称“新咚签约”）和升级签约的概念。</p>

            <p  class="ref">新咚签约是以作者为中心打造的“自主定价”、“自由上架”、“开放式签约”三位一体的签约模式。在书咚网所有新咚签约的作品，作者拥有100%版权。作者负责创作，我们负责运营。作者可以自由选择上架的时间、字数，并且对自己的作品进行定价。这一系列举措，旨在帮助作者拥有对自己作品的终生所有权。</p>

            <p  class="ref">在传统的签约模式上，书咚提出了升级签约的概念。如果第一次签约是C级，不用担心，只要满足条件，即可从C级升到B级，甚至直接升级为S级签约，作者福利也会水涨船高。</p>


            <p  class="ref">	此外，书咚首创的积分兑换推荐位模式，也让每部作品有获得更多推荐位的可能，只要你的作者积分足够，想兑换多少推荐位就兑换多少推荐位。从新咚签约到升级签约，再到积分兑换推荐位，我们一直努力维护着广大作者的切身利益，为作者提供最好的创作环境。</p>

            <p >	这里是朝气蓬勃的年轻团队，这里有不断优化的签约模式，这里面向所有喜爱文学的作者和读者。这里是书咚，一个创作和阅读的大家庭。</p>

        </div>
    </div>
</div>






{include file="public/bot"}


<script src="__STATIC__/js/sd-scroll.js" type="text/javascript" charset="utf-8"></script>

<script src="__STATIC__/js/sd-backTop.js" type="text/javascript" charset="utf-8"></script>
<!--返回顶部END-->
<script src="__STATIC__/js/scorll.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/js/sd-search.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/js/sd.js" type="text/javascript" charset="utf-8"></script>


<script src="__STATIC__/js/sd-selectcolor.js"></script>

</body>
</html>
