<div class="wraps">
	<div class="subnav">
    <div class="sd-center">
        <ul class="sd-center-subnav fl">
            <li class="fl"><a href="/index.html" class="current">首页</a></li>
            <li class="fl"><a href="/ranking.html">排行</a></li>
            <li class="fl sd-circle"><a href="/curbook.html">宅文</a></li>
            <li class="fl sd-same"><a href="/tongren.html">同人</a></li>
            <li class="fl"><a href="/Book.html?type=0&amp;key=0&amp;rank=0&amp;time=0&amp;words=0&amp;state=0">书库</a></li>
            <!--<li class="fl"><a href="community.html">社区</a></li>-->

        </ul>
        <!--搜索功能 BEGIN-->
        <form class="sd-search fr" method="post" action="/Book.html?type=0&amp;key=0&amp;rank=0&amp;time=0&amp;words=0&amp;state=0">
            <input type="text" name="book_name" value="" autocomplete="off" placeholder="搜索作品" class="fl sd-search-text" id="txts">
            <input type="submit" value="" style="background: url('__STATIC__/login/images/reader_btn_search.png');width: 20px;height: 20px; margin-top: -2px;" class="fr">
            <div class="sd-search-result" id="word">

            </div>
        </form>
        <!--搜索功能 END-->
    </div>
</div>
</div>