<div class="topNav">
    <div class="wrapper">
        <!--登录注册 DEGIN-->
      {if condition="$Think.cookie.shudong_user['user_id'] eq null"}
        <a href="/login" class="qq-login fl topNav-in" id="sd-login">登录</a>
        <b class="fl topNav-in border"></b>
        <a href="/register" class="register fl topNav-in" id="sd-register">注册</a>
        <!--登录注册 END-->
        {else /}
        <div class="fl userInfos">
            <img src="{$Think.cookie.shudong_user['portrait']}" alt=""  class="fl avatar"/>
            <a href="/user.html"><p class="uname fl"><span>{$Think.cookie.shudong_user['pen_name']}</span></a>{if condition="$Think.cookie.shudong_user['days'] gt 0"}<span class="fznum"> • VIP</span>{/if}</p>
            <span class="level fl ">LV.{$Think.cookie.shudong_user['mem_vip']}{$Think.cookie.shudong_user['mem_vip']|mem_vip}</span>
            <p class="fl booksheet"><span>书架：</span><span class="fznum">{$Think.cookie.shudong_user['bookCount']}</span></p>
            <p class="fl msg"><span>消息 ：</span> <span class="m-num">{$Think.cookie.shudong_user['newCount']}</span></p>
            <a href="/logout" class="logout fl">[退出]</a>
        </div>

        {/if}

        <!--充值 作者后台 APP下载 BEGIN -->
        <p class="fr sd-right-part ">
            <a href="#" class="pay topNav-in oh fl">
                <i class="fl"></i>
                <span class="fl">充值中心</span>
            </a>
            <b class="fl topNav-in border"></b>
            <a href="http://author.shuddd.com" target="_blank" class="au-stage topNav-in oh fl">
                <i class="fl "></i>
                <span class="fl">作者后台</span>
            </a>
            <a href="#" class="code fl">
                <i></i>
                <span class="sd-app">
		  				<img src="__STATIC__/images/download_img_code.png" width="84"/>
							<span>扫码下载手机端</span>
		  			</span>
            </a>
            <!--充值 作者后台 APP下载 END -->
        </p>
    </div>
</div>
<!--	</div>-->
<!--导航栏 END-->
<!--banner BEGIN-->
<div class="banner">
    <!--logo BEGIN-->
    <div class="sd-logo ">
        <a href="{:url('/index')}">
        <img src="__STATIC__/images/home_shuddd_logo.png" class="fl" />
        </a>
        <p class="sd-info fl">泛次元小说互动平台</p>

    </div>
    <!--logo END-->
    <!--分类导航栏BEGIN-->
    <div class="subnav">
        <div class="sd-center">
            <ul class="sd-center-subnav fl">
                {if condition="$ok eq 1"}
                <li class="fl"><a href="{:url('/index')}" class="current">首页</a></li>
                <li class="fl"><a href="{:url('/ranking')}">排行</a></li>
                <li class="fl sd-circle"><a href="/curbook.html">宅文</a></li>
                <li class="fl sd-same"><a href="/tongren.html">同人</a></li>
                <li class="fl"><a href="{:url('/Book',['type'=>0,'key'=>0,'rank'=>0,'time'=>0,'words'=>0,'state'=>0])}">书库</a></li>
                <!--<li class="fl"><a href="community.html">社区</a></li>-->
                {elseif condition="$ok eq 2"}
                <li class="fl"><a href="{:url('/index')}" >首页</a></li>
                <li class="fl"><a href="{:url('/ranking')}">排行</a></li>
                <li class="fl sd-circle"><a href="/curbook.html">宅文</a></li>
                <li class="fl sd-same"><a href="/tongren.html" class="current">同人</a></li>
                <li class="fl"><a href="{:url('/Book',['type'=>0,'key'=>0,'rank'=>0,'time'=>0,'words'=>0,'state'=>0])}">书库</a></li>
                <!--<li class="fl"><a href="community.html">社区</a></li>-->
                {elseif condition="$ok eq 3"}
                <li class="fl"><a href="{:url('/index')}" >首页</a></li>
                <li class="fl"><a href="{:url('/ranking')}">排行</a></li>
                <li class="fl sd-circle"><a href="/curbook.html" class="current">宅文</a></li>
                <li class="fl sd-same"><a href="/tongren.html" >同人</a></li>
                <li class="fl"><a href="{:url('/Book',['type'=>0,'key'=>0,'rank'=>0,'time'=>0,'words'=>0,'state'=>0])}">书库</a></li>
                <!--<li class="fl"><a href="community.html">社区</a></li>-->
                {elseif condition="$ok eq 4"}
                <li class="fl"><a href="{:url('/index')}" >首页</a></li>
                <li class="fl"><a href="{:url('/ranking')}" class="current">排行</a></li>
                <li class="fl sd-circle"><a href="/curbook.html" >宅文</a></li>
                <li class="fl sd-same"><a href="/tongren.html" >同人</a></li>
                <li class="fl"><a href="{:url('/Book',['type'=>0,'key'=>0,'rank'=>0,'time'=>0,'words'=>0,'state'=>0])}">书库</a></li>
                <!--<li class="fl"><a href="community.html">社区</a></li>-->
                {elseif condition="$ok eq 5"}
                <li class="fl"><a href="{:url('/index')}" >首页</a></li>
                <li class="fl"><a href="{:url('/ranking')}" >排行</a></li>
                <li class="fl sd-circle"><a href="/curbook.html" >宅文</a></li>
                <li class="fl sd-same"><a href="/tongren.html" >同人</a></li>
                <li class="fl"><a href="{:url('/Book',['type'=>0,'key'=>0,'rank'=>0,'time'=>0,'words'=>0,'state'=>0])}" class="current">书库</a></li>
                <!--<li class="fl"><a href="community.html">社区</a></li>-->
                {else /}
                <li class="fl"><a href="{:url('/index')}" >首页</a></li>
                <li class="fl"><a href="{:url('/ranking')}" >排行</a></li>
                <li class="fl sd-circle"><a href="/curbook.html" >宅文</a></li>
                <li class="fl sd-same"><a href="/tongren.html" >同人</a></li>
                <li class="fl"><a href="{:url('/Book',['type'=>0,'key'=>0,'rank'=>0,'time'=>0,'words'=>0,'state'=>0])}">书库</a></li>
                <!--<li class="fl"><a href="community.html">社区</a></li>-->
                {/if}

            </ul>
            <!--搜索功能 BEGIN-->
            <form class="sd-search fr" method="post" action="{:url('/Book',['type'=>0,'key'=>0,'rank'=>0,'time'=>0,'words'=>0,'state'=>0])}">
                <input type="text" name="book_name"  value="" autocomplete='off' placeholder="搜索作品"  class="fl sd-search-text" id="txts"  />

                <input type="submit" value="" style="background: url('__STATIC__/images/reader_btn_search.png');width: 20px;height: 20px; margin-top: -2px;" class="fr" >
                 <div class="sd-search-result" id="word">

                 </div>
            </form>
            <!--搜索功能 END-->
        </div>
    </div>
</div>

