<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="__STATIC__/login/css/rest.css" />
    <link rel="stylesheet" href="__STATIC__/login/css/mask.css" />
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <link rel="stylesheet" href="__STATIC__/login/css/recom.css" />
</head>
<body>
<div class="mask mak" >
    <div class="loginBox">
        <div class="code-title">
            <p class="title"></p>
            <i class="btn-close btnClose"></i>
        </div>
        <p class="title">恭喜注册成功</p>
        <p class="gift"><img src="__STATIC__/login/images/register_img_gift.png" alt="" /></p>
        <p class="text" >送您 <span class="num"> 50 </span>赠币+ <span class="num">50</span>经验等级~</p>
        <p class="int">登录书咚APP，完成邀请有礼，有咚币，更有现金相送~~</p>
        <p id="time">3s后关闭</p>
    </div>
</div>

<script src="__STATIC__/login/js/recom.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/login/js/sd.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
