<html>
<head>
    <meta charset="UTF-8">
    <title>投稿须知-{:config(queue.A_Name)}</title>
    <link rel="stylesheet" href="__STATIC__/author/css/rest.css" />
    <link rel="shortcut icon" href="__STATIC__/images/Favicon.ico" type="image/x-icon" />
    <link href="https://cdn.bootcss.com/jScrollPane/2.1.3-rc.1/style/jquery.jscrollpane.css" rel="stylesheet">
    <link rel="stylesheet" href="__STATIC__/author/css/author-background/upload_chapter.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/author/css/guid/guid.css"/>
    <script src="https://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
<!--头部 begin-->
{include file="public/top"}
<!--头部 end-->
<div class="wrapper  wrap-guid">
    <div class="wrap-nav">
        <p class="fl">
            <span>作品管理</span>
            &gt;
            <span>创建作品</span>
        </p>
        <p class="fr att">
            带有<span>*</span> 的项目必须填写
        </p>
    </div>
    <!--功能切换区-->
    <!--须知内容-->
    <div class="wrap-guids">
        <div class="scroller" style="">
            <p class="newTitle">新作品上传须知及审核指南</p>
            <p>有任何疑问，请联系客服: 0571-86951068</p>
            <p class="listTitle">一、作者投稿</p>
            <ul>
                <li>
                    <p>1、书咚网网站依法禁止出版、传播或者含有下列内容之一的作品：</p>
                    <p>（1）反对宪法所确定的基本原则的；</p>
                    <p>（2）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
                    <p>（3）损害国家荣誉和利益的；</p>
                    <p>（4）煽动民族仇恨、民族歧视，破坏民族团结的；</p>
                    <p>（5）破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
                    <p>（6）散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
                    <p>（7）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>
                    <p>（8）侮辱或者诽谤他人，侵害他人合法权益的；</p>
                    <p>（9）含有法律、行政法规禁止的其他内容的。</p>
                </li>

                <li>
                    <p>2、作品内容要求：</p>
                    <p>（1）作品内容健康，表达青春内涵，彰显时尚风格，注重文学品位；</p>
                    <p>（2）作品确系署名作者本人所创作，文责自负。</p>
                </li>
                <li>3、凡在书咚网授权发表或转载的作品，根据作品授权的不同级别，其版权归作者所有或作者与书咚网共同享有。本站对经授权的作品享有在网络上刊登、转载、排版、宣传等权力。</li>
            </ul>
            <p class="listTitle">二、审稿和发表</p>
            <ul>
                <li>
                    <p>1、一般情况下，书咚网按照收到投稿的时间先后，按照一定的标准，对每一篇作品进行审核，然后决定发表或退稿，同时发出站内短信。（投稿时间按照最后一次提交时间。）</p>
                    <p>2、如果审核不通过，请查看文章是否符合国家相关法律规定，修改或删除掉不符合的内容，可以重新提交审核。</p>
                    <p>3、审阅时间一般在收到作者投稿后的三个工作日内完成。如果作者在投稿后三个工作日内未收到此类站内短信，请不要着急，可能出现以下情况之一：</p>
                    <p>1）投稿时正遇法定节假日或近期投稿量激增，审稿相应推迟；</p>
                    <p>2）用户的站内短信箱故障（如信箱已满），若作品超过五个工作日仍处于“等待编辑” 或“编辑中” 状态，可联系客服，或者添加后台责编QQ询问，并且提供书名+作者名+书号。</p>
                    <p>4、书咚网保留不事先通知作者而将已发表稿件随时撤销和删除的权力。</p>
                    <p>5、书咚网对剽窃、抄袭行为的发生不具备充分的监控能力。凡有本站用户未经作者许可，在书咚网内转载作品，书咚网对用户转载行为不负任何责任，但是一经发现，负有移除剽窃、抄袭作品停止继续传播的义务。</p>
                    <p>6、本站根据法律规定或司法部门要求其提供侵权人网络注册资料的情况下，负有提供该注册资料的协助义务。</p>
                    <p>7、如书咚网上发表上传的作品被认为有剽窃、抄袭等侵权之嫌的，在作品著作权人提供以下必要的资料后，本站会根据其要求采取包括移除、警告等协助措施：一是著作权人的身份证明，包括身份证、法人执照、营业执照等有效身份证件；二是著作权权属证明，包括有关著作权登记证书、发表书籍或期刊、创作手稿等；三是侵权情况证明，包括被控侵权信息的内容、所在位置等。如未提供上述资料或不满足要求的，本站将暂不采取相应措施。</p>
                    <p>8、书咚网不对作品的侵权纠纷以及移除作品等相应措施承担侵权、违约或其他任何法律责任，包括但不限于因侵权指控不成立而给作者带来损失的赔偿责任等。</p>
                    <p>9、凡在本站注册作者并发表或上传作品的，应按照本站公布的相关规则进行申请、操作和使用，并愿受其约束。</p>
                </li>
            </ul>
            <p class="listTitle">三、作品签约</p>
            <ul>
                <li>
                    <p>1、当作者根据自己的意愿选择签约模式后，视为愿意接受该签约模式对于稿酬的的结算模式。</p>
                    <p>2、订阅稿酬结算仅以本站虚拟币咚币收入作为依据。</p>
                </li>
            </ul>
            <p class="listTitle">四、免责声明</p>
            <ul>
                <li>
                    <p>1、书咚网有权限制有损害本站利益行为的作者在本站的一切活动。作者同意保障和维护书咚网的利益，如因作者违反有关法律、法规或本协议项下的任何条款而给书咚网造成损失，作者同意承担由此造成的损害赔偿责任。</p>
                    <p>2、如有人恶意冒充网络作者向书咚网投稿，并被书咚网接受录入非其所有的原创作品，本站不承担任何责任，但保证接到真实作者投诉时，经验证后第一时间内删除该作品及冒充者账号。</p>
                    <p>3、凡有书咚网用户未经作者许可，在书咚网社区论坛内或用户BLOG系统转载作品，书咚网对用户转载行为不负任何责任，但承诺接到作者投诉后，第一时间内删除该贴并对该用户进行相应处理。</p>
                    <p>4、书咚网对作者的隐私资料做最大的努力的保护，但不能保证现有的安全技术措施使用户的技术信息等不受任何形式的损失。</p>
                    <p>5、书咚网有权将上述作品推荐给合作伙伴宣传或转载，不另行通知。</p>
                    <p>6、书咚网不保证收录作品稿件的安全性，请作者自行留存原稿。</p>
                    <p>7、作者文责自负，任何作者及其发布内容的文字，不代表本站观点。</p>
                </li>
            </ul>
            <div class="firm">
                <p>杭州书咚网络科技有限公司</p>
                <p>	2018年（暂行）</p>
            </div>
        </div>

    </div>
    <!--须知内容-->
    <a class="btnBack" href="{:url('Book/add')}">点击返回</a>
</div>
<!--底部 BEGIN-->
{include file="public/bot"}
<!--底部 END-->
<script src="https://cdn.bootcss.com/jScrollPane/2.1.3-rc.1/script/jquery.jscrollpane.js"></script>
<script src="__STATIC__/author/js/guid/guid.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
